.hero {
  height: 40rem;
  margin: 2rem;
  position: relative;
  background-image: url(../../img/savan.jpg);
  background-position-y: -60rem;
  background-repeat: no-repeat;
  background-size: cover;
  color: rgb(0, 0, 0);
  display: flex;
  align-items: end;
}

.hero::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.626);
  pointer-events: none;
}

.textcontainers {
  width: 45%;
  position: relative;
  z-index: 1;
  background: rgba(192, 192, 192, 0.509);
  padding: 1rem;
  border-radius: 8px;
}

.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.contents {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  padding: 1rem;
  border-radius: 8px;
  color: #fff;
}

.contents2 > .css-o7wx12-MuiPaper-root-MuiCard-root {
  height: 8rem;
  margin: 2rem;
  width: 30rem;
  background-color: #1c1b1bba;
  color: #fff;
}
.contents2 > .css-1e8ksxa {
  height: 8rem;
  margin: 2rem;
  background-color: #1c1b1bba;
  color: #fff;
  width: 30rem;
}

@media (max-width: 1200px) {
  .hero {
    height: 30rem;
    margin: 1rem;
    background-position-y: center;
  }

  .textcontainers {
    width: 60%;
    padding: 1rem;
  }
}

@media (max-width: 768px) {
  .hero {
    height: 25rem;
    margin: 0.5rem;
  }

  .textcontainers {
    width: 80%;
    padding: 0.5rem;
  }

  .contents {
    padding: 0.5rem;
    flex-direction: column;
  }

  .contents2 > .css-1m16crb-MuiPaper-root-MuiCard-root {
    height: auto;
    width: 100%;
    margin: 0.5rem 0;
  }
}

@media (max-width: 480px) {
  .hero {
    height: 35rem;
    margin: 0.5rem;
    background-position-y: -14rem;
  }

  .textcontainers {
    width: 100%;
    padding: 0.5rem;
  }

  .contents {
    flex-direction: column;
  }
  .contents2 > .css-o7wx12-MuiPaper-root-MuiCard-root {
    height: 10rem;
    margin: 0.5rem;
    width: 24rem;
    background-color: #1c1b1bba;
    color: #fff;
  }
  .contents2 > .css-1m16crb-MuiPaper-root-MuiCard-root {
    height: auto;
    width: 100%;
    margin: 0.5rem 0;
  }
  .contents2 > h5 {
    font-size: 0.8rem;
  }
  .contents2 > span {
    font-size: 0.8rem;
  }
  .contents2 > .css-1e8ksxa {
    width: 23rem;
    height: auto;
  }
}
