header {
  position: relative;
  background-color: #1c1b1bba;
  padding: 10px;
  color: white;
  text-align: center;
  z-index: 2;
}

nav a {
  margin: 0 15px;
  color: white;
  text-decoration: none;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.product,
.cart-item {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
  width: 200px;
  text-align: center;
}

button {
  background-color: #61dafb;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

@media (max-width: 768px) {
  nav a {
    margin: 0 10px;
  }

  .product-list {
    flex-direction: column;
    align-items: center;
  }

  .product,
  .cart-item {
    width: 90%;
    margin: 10px 0;
  }

  button {
    width: 100%;
    padding: 10px;
  }
}

@media (max-width: 480px) {
  header {
    padding: 15px;
  }

  nav a {
    display: block;
    margin: 10px 0;
  }

  .product,
  .cart-item {
    width: 100%;
    margin: 5px 0;
  }

  button {
    padding: 15px;
    font-size: 1.2rem;
  }
}
