.box {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 1rem;
}
.service1,
.service2 {
  display: flex;
  justify-content: space-evenly;
  gap: 10rem;
}

@media (max-width: 768px) {
  .box {
    flex-direction: row;
    justify-content: center;
    padding: 1rem;
  }
}

@media (max-width: 480px) {
  .box {
    display: flex;
  }
  .service1,
  .service2 {
    gap: 0;
  }
}
